<div class="tableCellRight">

 <div class="telnr"  translate> RESTAURATION.LISTITEMTREE</div>
    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
         <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div>
                {{msgStateAC}}
            </div>
            <div>
                {{msgWaitAC}}
            </div>
            <div translate="RESTAURATION.CAFETERIA2.SCHEDULE" translate-values="{ startHourC: startHC, endHourC: endHC, startMinutesC: startMC, endMinutesC: endMC, startHourC2: startHC2, startMinutesC2: startMC2}">
            </div>
        </div>
    </div>

    
      <div class="information-block row">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/mail.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate>
            RESTAURATION.CAFETERIA2.MAIL
        </div>
    </div>

    <div class="lightLineSeparator">
    </div>

    <div class="information-block row" style="margin: 20px 30px;">
        <p translate>RESTAURATION.CAFETERIA2.PARAGRAPHONE</p>
        <p translate>RESTAURATION.CAFETERIA2.PARAGRAPHTWO</p>
    </div>

    <div class="information-block row" style="margin-bottom:20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate>
            RESTAURATION.CAFETERIA2.LOCATION
        </div>
    </div>
    
    
      <div class="information-block row" style="margin-top: 20px;">
			<img src="images/cartes/rdc-cafeteria.png" width="100%">
     </div>
</div>
