<div class="tableCellRight">
  
    <div class="telnr"  translate> RESTAURATION.LISTITEMONE</div>
    <div class="information-block row" style="margin-top:20px">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div>
                {{msgStateR}}
            </div>
            <div>
                {{msgWaitR}}
            </div>
            <div translate="RESTAURATION.RESTAURANT.SCHEDULE" translate-values="{ startHourR: startHR, endHourR: endHR, startMinutesR: startMR, endMinutesR: endMR, startHourR2: startHR2, endHourR2: endHR2, startMinutesR2: startMR2, endMinutesR2: endMR2}">
            </div>
        </div>
    </div>
    
       <div class="information-block row" style="    margin-top: 20px;">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-mail.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate>
            RESTAURATION.RESTAURANT.MAIL
        </div>
    </div>

    
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/menu_icon.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <a href="http://giegamrestaurant.sfdi.echonet/intra/tpl/les-menus.php"  target="_blank" translate class="greenLink">RESTAURATION.RESTAURANT.MENU</a>
        </div>
    </div>
    </div>

    <div class="information-block row" style="margin: 20px 30px;">
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH1</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH2</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH3</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH4</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH5</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH6</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH7</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH8</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH9</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH10</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH11</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH12</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH13</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH14</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH15</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH16</p>
        <p translate>RESTAURATION.RESTAURANT.PARAGRAPH17</p>
    </div>
    
    
    <div class="information-block row" style="    margin-top: 20px;">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate>
            RESTAURATION.RESTAURANT.LOCATION
        </div>
    </div>
    
      <div class="information-block row" style="margin-top: 20px;">
			<img src="images/cartes/rdc-cantine.png" width="100%">
     </div>
    
</div>