<div class="tableCellRight">

    <div class="information-block row" style="margin-bottom:20px;">
         <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateC}}
            </div>
            <div>
                {{msgWaitC}}
            </div>
            <div translate="BATIMENT.AUDITORIUM.SCHEDULE" translate-values="{ startHourC1: startHC1, endHourC1: endHC1, startMinutesC1: startMC1, endMinutesC1: endMC1, startHourC2: startHC2, endHourC2: endHC2, startMinutesC2: startMC2, endMinutesC2: endMC2, startHourC3: startHC3, endHourC3: endHC3, startMinutesC3: startMC3, endMinutesC3: endMC3}">
            </div>
        </div>
    </div>

        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.AUDITORIUM.PHONE
        </div>
    </div>
    
<div class="information-block row" style="margin-top: 30px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/batiment-services.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.AUDITORIUM.LINE1</p>
        </div>
    </div>


</div>
