<div class="tableCellRight">

    <div class="telnr"  translate> BATIMENT.COURRIER.HEADTITLE</div>
    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
         <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateC}}
            </div>
            <div>
                {{msgWaitC}}
            </div>
            <div translate="BATIMENT.COURRIER.SCHEDULE" translate-values="{ startHourCI1: startHCI1, endHourCI1: endHCI1, startMinutesCI1: startMCI1, endMinutesCI1: endMCI1}">
            </div>
        </div>
    </div>
    <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.COURRIER.LOCATION
        </div>
    </div>
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-call.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.COURRIER.PHONE
        </div>
    </div>
   <br/> 
<div class="information-block row" style="margin-top: 30px;">
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHONE.LINE1</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHONE.LINE2</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHONE.LINE3</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHONE.LINE4</p>
            <br/>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHTWO.LINE1</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHTWO.LINE2</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHTWO.LINE3</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHTWO.LINE4</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.COURRIER.PARAGRAPHTWO.LINE5</p>
        </div>
    </div>


</div>
