<div class="tableCellRight">

    <div class="telnr"  translate> BATIMENT.FITNESS.HEADTITLE</div>
    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
         <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateF}}
            </div>
            <div>
                {{msgWaitF}}
            </div>
            <div translate="BATIMENT.FITNESS.SCHEDULE" translate-values="{ startHourF0: startHF0, endHourF0: endHF0, startMinutesF0: startMF0, endMinutesF0: endMF0, startHourF1: startHF1, endHourF1: endHF1, startMinutesF1: startMF1, endMinutesF1: endMF1, startHourF2: startHF2, endHourF2: endHF2, startMinutesF2: startMF2, endMinutesF2: endMF2}">
            </div>
        </div>
    </div>
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-mail.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.FITNESS.MAIL
        </div>
    </div>
     <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-call.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.FITNESS.PHONE
        </div>
    </div>
    <div class="information-block row" style="margin-top: 30px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/batiment-services.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <a href="http://center.thecorporategym.com/bnpparibas-pf"  target="_blank" translate class="greenLink">BATIMENT.FITNESS.SITEWEB</a>
        </div>
    </div>
    
   <div class="information-block row" style="margin-top: 30px;">
          
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.FITNESS.PARAGRAPHONE.LINE1</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.FITNESS.PARAGRAPHONE.LINE2</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.FITNESS.PARAGRAPHONE.LINE3</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.FITNESS.PARAGRAPHONE.LINE4</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.FITNESS.PARAGRAPHONE.LINE5</p>
        </div>
    </div>

   <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.FITNESS.LOCATION
        </div>
        
    </div>
    
     <div class="information-block row" style="margin-top: 20px;">
			<img src="images/cartes/ss1-fitness.png" width="100%">
     </div>

</div>
