 <div class="tableCellRight">
    <div class="information-block row" style="margin-top: 10px;">
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px; color:black">BATIMENT.INCIDENT.PARAGRAPHONE.TITLE</p>
            <p style="margin-top: 10px;"><a href="http://ematesa.bnpparibas.net/facility/ClientFacingSD.aspx" target="_blank" translate class="greenLink">BATIMENT.INCIDENT.PARAGRAPHTWO.TITLE</a></p>
        </div>
    </div>
    </div>
    