<div class="tableCellRight">

   
    <div class="telnr"  translate> BATIMENT.KIOSQUE.KIOSQUEB.HEADTITLE</div>

    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateKB}}
            </div>
            <div>
                {{msgWaitKB}}
            </div>
            <div translate="BATIMENT.KIOSQUE.KIOSQUEB.SCHEDULE" translate-values="{ startHourKB: startHKB, endHourKB: endHKB, startMinutesKB: startMKB, endMinutesKB: endMKB}">
            </div>
        </div>
    </div>

    <div class="information-block row" style="margin-top: 30px;">
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.KIOSQUE.KIOSQUEB.PARAGRAPHONE.LINE1</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.KIOSQUE.KIOSQUEB.PARAGRAPHONE.LINE2</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.KIOSQUE.KIOSQUEB.PARAGRAPHONE.LINE3</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.KIOSQUE.KIOSQUEB.PARAGRAPHONE.LINE4</p>
        </div>
    </div>
    
     <div class="information-block row" style="margin-top: 20px;">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.KIOSQUE.KIOSQUEB.LOCATION
        </div>
    </div>
    
     <div class="information-block row" style="margin-top: 20px;">
			<img src="images/cartes/rdc-kiosque-it.png" width="100%">
     </div>
    
    
     <div class="telnr" style="margin-top:60px;" translate> BATIMENT.KIOSQUE.KIOSQUEA.HEADTITLE</div>

    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateKA}}
            </div>
            <div>
                {{msgWaitKA}}
            </div>
            <div translate="BATIMENT.KIOSQUE.KIOSQUEA.SCHEDULE" translate-values="{ startHourKA: startHKA, endHourKA: endHKA, startMinutesKA: startMKA, endMinutesKA: endMKA}">
            </div>
        </div>
    </div>

    <div class="information-block row" style="margin-top: 30px;">
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.KIOSQUE.KIOSQUEA.PARAGRAPHONE.LINE1</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.KIOSQUE.KIOSQUEA.PARAGRAPHONE.LINE2</p>
        </div>
    </div>
    
     <div class="information-block row" style="margin-top: 20px;">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.KIOSQUE.KIOSQUEA.LOCATION
        </div>
    </div>
    
      <div class="information-block row" style="margin-top: 20px;">
			<img src="images/cartes/r1-kioksque-it.png" width="100%">
     </div>
</div>
