<div class="tableCellRight">

    <div class="telnr"  translate> BATIMENT.REPROGRAPHIE.HEADTITLE</div>
    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
         <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateC}}
            </div>
            <div>
                {{msgWaitC}}
            </div>
            <div translate="BATIMENT.REPROGRAPHIE.SCHEDULE" translate-values="{ startHourR1: startHR1, endHourR1: endHR1, startMinutesR1: startMR1, endMinutesR1: endMR1}">
            </div>
        </div>
    </div>

    <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.REPROGRAPHIE.LOCATION
        </div>
    </div>
    
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-call.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.REPROGRAPHIE.PHONE
        </div>
    </div>
    
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-call.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.REPROGRAPHIE.PHONE2
        </div>
    </div>
    
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-mail.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.REPROGRAPHIE.MAIL
        </div>
    </div>
    
<div class="information-block row" style="margin-top: 30px;">
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.REPROGRAPHIE.PARAGRAPHONE.LINE1</p>
            <br/>
            <p translate style="margin-bottom: 0px;">BATIMENT.REPROGRAPHIE.PARAGRAPHONE.LINE2</p>
        </div>
    </div>


</div>
