<div class="tableCellRight">

    <div class="telnr"  translate> BATIMENT.RESERVATION.HEADTITLE</div>
    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
         <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateC}}
            </div>
            <div>
                {{msgWaitC}}
            </div>
            <div translate="BATIMENT.RESERVATION.SCHEDULE" translate-values="{ startHourRSS1: startHRSS1, endHourRSS1: endHRSS1, startMinutesRSS1: startMRSS1, endMinutesRSS1: endMRSS1}">
            </div>
        </div>
    </div>

    
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-mail.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.RESERVATION.MAIL
        </div>
    </div>
    
<div class="information-block row" style="margin-top: 30px;">
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.RESERVATION.PARAGRAPHONE.LINE1</p>
        </div>
    </div>


</div>
