<div class="tableCellRight">

    <div class="telnr"  translate> BATIMENT.SALONS.HEADTITLE</div>
    <div class="information-block row" style="margin-bottom:20px;margin-top:20px">
         <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_schedule.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <div style="color:black">
                {{msgStateC}}
            </div>
            <div>
                {{msgWaitC}}
            </div>
            <div translate="BATIMENT.SALONS.SCHEDULE" translate-values="{ startHourPS1: startHPS1, endHourPS1: endHPS1, startMinutesPS1: startMPS1, endMinutesPS1: endMPS1}">
            </div>
        </div>
    </div>
    
        <div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/icon-mail.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.SALONS.MAIL
        </div>
    </div>
    
<div class="information-block row" style="margin-top: 30px;">
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text">
            <p translate style="margin-bottom: 0px;">BATIMENT.SALONS.PARAGRAPHONE.LINE1</p>
            <p translate style="margin-bottom: 0px;">BATIMENT.SALONS.PARAGRAPHONE.LINE2</p>
        </div>
    </div>

<div class="information-block row" style="margin-top: 20px;">
           <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="images/png/assistance_detail_location.png" width="25">
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 information-block-text" translate style="color:black">
            BATIMENT.SALONS.LOCATION
        </div>
    </div>
    
    <div class="information-block row" style="margin-top: 20px;">
			<img src="images/cartes/r7-petits-salons.png" width="100%">
     </div>

</div>
