<div class="tableCellRight">
<br/>
<p>ESPACES DE REUNION</p>

<p>1. Les Bulles : sans réservations, accessibles à tous les collaborateurs, elles permettent de se réunir à 2 ou 3 personnes</p>
<p>2. Les salles de réunion : salles réservables de 4 à 50 personnes, elles sont dotées d'équipements audiovisuels et téléphoniques</p>
<p>3. L'auditorium et les salles du premier étage du bâtiment A (Salles XX et H) sont réservables (voir  "Section/ Résa salles spéciales")</p>
<br/>
<p>ESPACES SUPPORT </p>

<p>- Point copie avec imprimantes dans chaque zone : 4 à 5 par étage</p>
<p>- Point de tri sélectif dans les points copies et café</p>

</div>