<div class="tableCellRight">
<br/>
<p>PRINCIPES</p>

<p>1. Les postes de travail ne sont pas attribués à l’exception des cas médicaux ou fonctionnels exceptionnels</p>
<p>2. Tous les espaces de travail sont partagés</p>
<p>3. Le clean desk est applicable à tous les postes de travail qu’ils soient en dynamique ou pas</p>
<br/>
<p>REGLES D'USAGE</p>

<p>- En espaces ouverts, on se déplace vers une bulle, une zone de convivialité ou une zone café pour toute conversation dont le niveau sonore ou la durée peut perturber l’activité.</p>
<p>- Le clean desk doit être fait systématiquement en fin de journée et également pour toute absence de son poste de travail au-delà de 2 à 3 heures.</p>
<p>- Pour plus de lisibilité, les Directions sont positionnées par zone. Les frontières de ces zones sont poreuses.</p>
<p>- Tout collaborateur a son casier dans la zone de référence de sa Direction. Il a cependant la possibilité de travailler dans une autre zone.</p>
<p>- Usage des salles de réunion : les personnes qui ont réservé une salle sont prioritaires sur les autres dans l’occupation de cette salle dans le premier 1/4h de réservation. Après ce 1/4h, la salle est considérée comme libre.</p>
<p>- Usage des espaces de convivialité. Ces espaces peuvent être utilisés pour y travailler, sans pour autant détourner l’esprit détente du lieu.</p>
<p>- Usage des bulles : ce sont des espaces non attribuables et accessibles à tous les collaborateurs. L’occupation de ces espaces doit correspondre à un besoin ponctuel et de durée limitée.</p>
<p>- Seuls les plats et les collations froids peuvent être consommés dans les étages, et ce uniquement dans les points café.</p>
<p>- Téléphonie: Je règle la sonnerie de mon portable à un niveau bas ou sur vibreur et j'exclus l'usage du "haut-parleur" dans les espaces ouverts.</p>


</div>