<div class="tableCellRight">
<br/>
<p> Les espaces et le matériel mis à votre disposition à Unicity ont été pensés pour garantir votre bien-être et de bonnes conditions de travail. Pour favoriser le confort de tous, il est donc important de respecter certains principes d’ergonomie.</p>

<p>Visionnez cette vidéo pour en savoir plus:</p>

<video width="100%" autoplay="autoplay" audio/x-pn-realaudio-plugin" src="http://dam.bnpparibas.com/vcm2/mobilisation/getmobilized.php?content=/externe/video/vcm_1463494876368_7870890386769680469.mp4&id=workspace://SpacesStore/d8c31b84-b237-4ef8-ba0c-e7f94cf0acac" ></video>
</div>