<div class="tableCellRight">
<br/>
<p> CONSIGNE DE SECURITE</p>

<p>1. La serrure est livrée avec un code de départ "3333". Nous vous recommandons de le remplacer tout de suite par votre code personnel comme décrit en point 2.</p>
<p>2. Notez votre code personnel et conservez-le dans un endroit inaccessible à d'autres personnes.</p>
<p>3. Cette serrure dispose d'un système brouilleur automatique qui remplace les molettes sur "0000" à chaque ouverture et fermeture.</p>
<p>Pour cette raison, "0000" ne doit être choisi comme code personnel.</p>
<br/>
<p> OUVERTURE DE LA SERRURE</p>

<img src="images/png/casier01a.png" width="250">
<p>1. Pour ouvrir la serrure, faites "3333" ou votre code personnel "••••"</p>

<img src="images/png/casier01b.png" width="250">
<p>2. Tournez le bouton sur "OPEN"</p>
<p>3. Pour des raisons de sécurité, les molettes se déplacent automatiquement sur "0000"</p>
<br/>
<p> CHANGEMENT DE CODE</p>

<img src="images/png/casier02a.png" width="250"> 
<p>1. En position ouverte, faites le code "3333" ou votre code personnel "••••"</p>


<img src="images/png/casier02b.png" width="250">
<p>2. Tournez le bouton sur "C"</p>
<p>3. Faites le nouveau code "NNNN"</p>
<p>4. Tournez le bouton sur "CLOSE"</p>
<p>5. Votre nouveau code est enregistré!</p>
<br/>
<p> OUVERTURE D'URGENCE / DECODAGE</p>

<img src="images/png/casier03a.png" width="250">
<p>1. En position fermée, introduisez la clé et entournez vers la gauche jusqu'à la butée</p>


<img src="images/png/casier03b.png" width="250">
<p>2. Tournez le bouton sur "OPEN"</p>
<p>3. Les molettes se placent automatiquement sur le code actuel</p>

<br/>
<p> GENERALITES </p>

<p>1. Protégez la serrure de l'eau, du feu, de la poussière</p>
<p>2. Installez la serrure dans des milieux compris entre 0°C et 50°C</p>
<p>3. Pour le nettoyage, prenez un chiffon humide. Ne pas utiliser de produits chimiques </p>
<p>4. Veillez à ce que les objets à l'intérieur de l'armoire ne gênent pas les éléments de fermeture</p>
<p>5. Ne pas graisser ou huiler la serrure ou les molettes</p>

</div>