<div class="tableCellRight">
<p>Pour démarrer une visionconférence, toutes les manipulations sont à effectuer sur la tablette tactile dans la salle.</p>
<br/>
<p>VISIOCONFERENCE INTERNE AVEC LE NOM DE LA SALLE</p>
<br/>
<p>1. Cliquer sur "Clavier".</p>

<img src="images/png/tuto-visio-1.png" width="200">
<br/><br/>
<p>2. Rechercher la salle avec la barre de recherche ou avec la liste déroulante.

<br/>
<img src="images/png/tuto-visio-2.png" width="250">
<br/>
<p>3. Sélectionner votre correspondant et cliquer sur "Appel".</p>

<img src="images/png/tuto-visio-3.png" width="200">
<br/><br/>
<p> VISIOCONFERENCE EXTERNE AVEC UN NUMERO D'APPEL</p>
<br/>
<p>1. Cliquer sur "Clavier".<br/>
<img src="images/png/tuto-visio-1.png" width="200">
<br/><br/>
<p>2. Saisir le numéro de votre correspondant.
Ajouter un « 0 » avant le numéro d’appel.
Ajouter « 000 » pour un appel international.</p>
<img src="images/png/tuto-visio-4.png" width="250">
<br/><br/>
<p>3. Cliquez sur "Appel".</p>
<img src="images/png/tuto-visio-5.png" width="200">
</div>