<div class="tableCellRight">

<p>De base dans une salle de réunion, le poste de réunion audio permet des appels internes, et externes nationaux.Pour appeler un correspondant international, il faut se connecter sur le poste avec son compte personnel. ( UID, PIN code téléphonique)</p>

<br/><p> SE CONNECTER</p>

<p>1. Utiliser la touche dynamique "Apps"</p>

<img src="images/png/pieuvre1.PNG" width="300">

<p>2. Sélectionner « Extension Mobility » avec le navigateur et valider avec la touche de validation</p>
<img src="images/png/pieuvre2.PNG" width="300">
<p>3. Renseigner votre UID à l’aide des lettres sur le clavier Numérique puis votre PIN code</p>
<p>4. Valider avec la touche dynamique « Soum. ». Ne pas oublier de se déconnecter en partant (même manœuvre)</p>
<p><img src="images/png/pieuvre3.PNG" width="300"></p>

<br/><p> LE BOITIER DE COMMANDE</p>
<img src="images/png/pieuvre4.PNG" width="500">
<p> APPELER</p>
<p>1. Utiliser le clavier pour composer le numéro à 10 chiffres interne ou externe (avec le 0 devant ou 000 pour l’international)</p>
<p>2. Puis lancer l’appel avec la touche 
<img src="images/png/pieuvre5.PNG" width="50"></p>

<br/><p> REPONDRE A UN APPEL

<p>Pour répondre à un appel, décrocher avec la touche 
<img src="images/png/pieuvre5.PNG" width="50"></p>
<p>Ou utiliser la touche dynamique "Répondre"</p>

<br/><p> RACCROCHER </p>

<p>Pour raccrocher utiliser à nouveau la touche d’appel 
<img src="images/png/pieuvre5.PNG" width="50"></p>

 



</div>