<div class="tableCellRight">
<p> SE CONNECTER </p>
<p>(Nécessaire pour bénéficier de ses propres droits d'appel, exemple: l'international)</p>
<p>Si votre poste n’affiche pas votre nom et numéro, vous devez vous connecter sur le poste</p>
<p>1. Utilisez la touche de fonction 
<img src="images/png/telfixe-1.png" width="150"></p>

<p>2. Renseignez votre UID et votre Code PIN Téléphonique à l’aide du clavier téléphonique et de la touche de navigation</p>
<p>3. Puis validez avec la touche dynamique « Soum. » Code PIN par défaut « 12345 »</p>

<br/><p> LE POSTE </p>
<p><img src="images/png/telfixe-2.png" width="550"></p>

<br/><p> APPELER</p>
<p>1. Décrochez le combiné et composez le numéro de votre correspondant (0 devant si externe et 000 si international).</p>
<p>2. Sans décrocher, composez le numéro et appuyez sur la touche "appel", votre poste est en main libre.</p>

<br/><p> ACCES AUX REPERTOIRES </p>
<p>Pour accéder aux répertoires, appuyer sur la touche <img src="images/png/telfixe-3.png" width="60"></p>

<p>Grâce au navigateur, choisir le menu <img src="images/png/telfixe-4.png" width="500"></p>
<p>et valider en appuyant sur  <img src="images/png/telfixe-5.png" width="100"></p>

<p>Pour rechercher dans le répertoire, déplacez vous dans les critères de recherche et entrez, grâce au pavé alphanumérique, la recherche souhaitée.</p>
<p>Lancez la recherche via les touches dynamiques. Naviguez ensuite dans les résultats proposés et appuyez sur la touche dynamique « Compos » pour appeler le contact.</p>
<p>Pour quitter à tout moment l’accès aux répertoire, appuyez sur   <img src="images/png/telfixe-3.png" width="60"></p>

</div>