<div class="calendarA" ng-controller="CalendarCtrl" ng-init=init()>
    <header>
        <p class="month"></p>
        <a class="btn-prev customButton">
            <img src="images/png/left-arrow.png"></a>
        <a class="btn-next customButton"><img src="images/png/right-arrow.png"></a>
    </header>
    <table class="customCalendar">
        <thead class="event-days">
            <tr></tr>
        </thead>
        <tbody class="event-calendar">
            <tr class="1"></tr>
            <tr class="2"></tr>
            <tr class="3"></tr>
            <tr class="4"></tr>
            <tr class="5"></tr>
        </tbody>
    </table>
    <div class="list">
    </div>
    <div class="listTwo">
    </div>
</div>
