<div class ="center-block text-block">
  <div>
        <h1 translate>FIRST_PAGE.HEADING</h1>
        <p translate>FIRST_PAGE.CONTENT.FIRST_PARAGHRAPG</p>
        <ul>
       		 <li translate>FIRST_PAGE.CONTENT.FIRST_PARAGHRAPG1</li>
          	 <li translate>FIRST_PAGE.CONTENT.FIRST_PARAGHRAPG2</li>
             <li translate>FIRST_PAGE.CONTENT.FIRST_PARAGHRAPG3</li>
        
        </ul>
        <p translate>FIRST_PAGE.CONTENT.SECOND_PARAGHRAPG</p>
        <p translate>FIRST_PAGE.CONTENT.THIRD_PARAGHRAPG</p>
  </div>
</div>

